# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Env
.venv/
venv/
ENV/
env/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Pytest
.cache/

# Migrations
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/__pycache__/
